# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List data science open source tools
- Introduce arithmetic expression examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scipy
3. Matplotlib
4. Pandas

| Data Science Tools | 
| -------------| 
| TensorFlow | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [15]:
min = 200
hours = 200/60
print(hours)
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author: Saikiran Kotaru